<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fab4META - Forgot Password </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="./assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="./assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="./assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="./assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="./assets/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="./assets/dist/css/fab4meta.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="layout-top-nav">
    <div class="wrapper signin-pg ">
        <section class="content">
            <div class="row">
                <div class="container">
                    <div class="col-md-6 col-centered">
                        <div class="upper-container">
                            <div class="login-box-main">
                                <div class="login-logo">
                                    <a href="/" class="page-name">META</a>
                                </div>
                                <div class="col-md-12">
                                    <div class="signup-form">
                                        <div class="col-xs-12">
                                            <p class="sub-par-main-pg">Forgot password</p>
                                            <div id='responseDiv'>
                                                <!-- response here-->
                                            </div>
                                            <form id="forgotpass">
                                                <div id="toHideIfSuccess">
                                                    <input type="hidden" name="authenticity_token" value="<%= authenticity_token %>">
                                                    <label class="label-form">Email Address</label>
                                                    <div class="form-group has-feedback input-group">
                                                        <input type="text" autocomplete="off" name="email" id="email" class="form-control form-signup-interface" required onchange="document.getElementById('responseDiv').style.display = 'none';"><span class="input-group-addon group-addon-clean" disabled>@sunpowercorp.com</span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <button type="submit" id="submitforgotpass" class="btn btn-primary btn-block btn-flat ">Send verification email</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<!-- API Response handler -->
<script>
    window.addEventListener('load', function(){

        function goForgotpass(){

            let xhr = new XMLHttpRequest();
            let fd = new FormData(form); // bind form data object and form element
            
            xhr.addEventListener('load', function(event){
                console.log(event.target.response);
                let resFromServer = JSON.parse(event.target.response);
                document.getElementById('responseDiv').style.display='block';
                document.getElementById('submitforgotpass').innerHTML = 'Send verification email';

                function resDiv(){
                    let responseDiv = document.getElementById('responseDiv');
                    
                    if(resFromServer.err){
                        document.getElementById('signinbutton').removeAttribute("disabled");
                        document.getElementById('email').removeAttribute("disabled");

                        if (responseDiv.classList) { 
                            responseDiv.classList.add("responseDivErr");
                            responseDiv.innerHTML = resFromServer.err
                        } else {
                            // For IE9
                            var classes = responseDiv.className.split(" ");
                            var i = classes.indexOf("responseDivErr");

                            if (i >= 0) {
                                classes.splice(i, 1);
                            } else { 
                                classes.push("responseDivErr");
                                responseDiv.className = classes.join(" "); 
                                responseDiv.innerHTML = resFromServer.err
                            }
                        }

                    } else {

                        if (responseDiv.classList) { 
                            responseDiv.classList.add("responseDivSuccess");
                            responseDiv.innerHTML = resFromServer.auth;
                            
                            let hideDiv = document.getElementById('toHideIfSuccess');
                                hideDiv.style.display = "none";

                        } else {
                            // For IE9
                            var classes = responseDiv.className.split(" ");
                            var i = classes.indexOf("responseDivSuccess");

                            if (i >= 0) {
                                classes.splice(i, 1);
                            } else { 
                                classes.push("responseDivSuccess");
                                responseDiv.className = classes.join(" "); 
                                responseDiv.innerHTML = resFromServer.auth;
                                
                                let hideDiv = document.getElementById('toHideIfSuccess');
                                    hideDiv.style.display = "none";

                            }
                        }
                    }

                    
                }

                resDiv();
            });

            xhr.addEventListener('error', function(event){
                alert('Something went wrong.');
            });

            xhr.open('POST', '/api/forgotpassword');
            xhr.send(fd);

        }

        // access FORM element
        let form = document.getElementById('forgotpass');
        // take over submit event
        form.addEventListener('submit', function(event){
            event.preventDefault();
            document.getElementById('responseDiv').style.display="none";
            goForgotpass();
            
            document.getElementById('submitforgotpass').setAttribute("disabled", "disabled");
            document.getElementById('email').setAttribute("disabled", "disabled");
            document.getElementById('submitforgotpass').innerHTML = 'Sending...'
        });


    });
</script>
<!-- jQuery 3 -->
<script src="./assets/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="./assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
